:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --background: 17, 17, 17;
  --primary: 255, 255, 255;
  --accent: 255, 74, 2;
  --gray: 47, 46, 46;

  --left-padding: 3rem;
  --bottom-padding: 3rem; 
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--primary));
  background: rgb(var(--background));
}

@media (max-width: 1280px) {
  html {
      font-size: 14px;
  }
}

@media (max-width: 1024px) {
  html {
      font-size: 12px;
  }
}

@media (max-width: 780px) {
  html {
      font-size: 10px;
  }
}

@media (max-width: 500px) {
  html {
      font-size: 7px;
  }
}

a {
  color: inherit;
  text-decoration: none;
  transition: .3s all;
}

a:hover {
  color: rgb(var(--accent));
  font-weight: 800;
}

svg {
  color: rgb(var(--primary)) !important;
}

svg:hover {
  color: rgb(var(--accent));  
}

path {
  transition: .3s all;
}

path:hover {
  fill: rgb(var(--accent)); 
}

.button_active {
  color: rgb(var(--accent));
}

input, textarea {
  border-radius: 0;
  border: 1px solid rgb(var(--primary));
  background-color: rgb(var(--background));  
  padding: 0.6rem 1rem;
  color: rgb(var(--primary)); 
  font-size: 1rem;
}

input:focus-visible, input:focus {
  border-radius: 0 !important;
  border: 1px solid rgb(var(--accent)) !important;
}

textarea {
  font-size: 1.1rem;
  resize: none;
}

::placeholder {
  color: rgb(var(--primary));
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12 -18 */
  color: rgb(var(--primary));
}