@font-face {
  font-family: "Formular";
  src: url("/font/Formular-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Formular";
  src: url("/font/Formular-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Formular";
  src: url("/font/Formular-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Formular";
  src: url("/font/Formular-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Formular";
  src: url("/font/Formular-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: 17, 17, 17;
  --primary: 255, 255, 255;
  --accent: 255, 74, 2;
  --gray: 47, 46, 46;

  --left-padding: 4rem;
  --bottom-padding: 3rem; 
  --bottom-padding6: 6rem; 
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Formular", sans-serif;
}

body {
  color: rgb(var(--primary));
  background: rgb(var(--background));
}

a {
  color: inherit;
  text-decoration: none;
  transition: .3s all;
}

svg {
  color: rgb(var(--primary)) !important;
}

svg:hover {
  color: rgb(var(--accent));  
}

path {
  transition: .3s all;
}

path:hover {
  fill: rgb(var(--accent)); 
}

.button_active {
  color: rgb(var(--accent));
}

input, textarea {
  border-radius: 0;
  border: 1px solid rgb(var(--primary));
  background-color: rgb(var(--background));  
  padding: 0.6rem 1rem;
  color: rgb(var(--primary)); 
  font-size: 1rem;
}

input:focus-visible, input:focus {
  border-radius: 0 !important;
  border: 1px solid rgb(var(--accent)) !important;
}

textarea {
  font-size: 1.1rem;
  resize: none;
}

li {
  list-style-type: none;
}

::placeholder {
  color: rgb(var(--primary));
  opacity: 1;
}

::-ms-input-placeholder {
  color: rgb(var(--primary));
}

@media (max-width: 1280px) {
  html {
      font-size: 14px;
  }
}

@media (max-width: 1024px) {
  html {
      font-size: 12px;
  }
}

@media (max-width: 780px) {
  html {
      font-size: 10px;
  }
}

@media (max-width: 500px) {
  html {
      font-size: 7px;
  }
}