.team {
    width: 100vw;
    min-height: 80vh;
    position: relative;
}

.team__quotes {
    position: relative;
    z-index: 3;
    padding-top: 9rem;
    margin-left: 4rem;
    margin-right: 4rem;

    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

.team__quote1 {
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: uppercase;
}

.team__quotes_right {
    align-self: end;
}

.team__quote2 {
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

.accent {
    color: rgb(var(--accent));
}

.team__image {
    position: absolute;
    inset: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-position: center;
}

.team__grid {
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(5, auto);
    gap: 2rem;
    padding: 6rem 4rem;
    position: relative;
    z-index: 2;
    color: rgb(var(--primary));
}

.grid__span1 {
    grid-column: span 1;
    grid-row: span 2;
    margin-left: 6rem;
}

.grid__span5 {
    grid-column: span 5;
}

.grid__span6 {
    grid-column: span 6;
}

.grid__position {
    font-size: 0.8rem;
    font-weight: 300;
    color: rgb(var(--primary));
    margin-block-end: 0.5rem;
}

.grid__name {
    margin-block-end: 0.2rem;
    font-size: 1.2rem;
    font-weight: 400;
}

@media (max-width: 1350px) {
    .team {
        min-height: 85vh;
    }
}

@media (max-width: 1280px) {
    .team {
        min-height: 80vh;
    }
}


@media (max-width: 900px) {
    .team__quotes {
        flex-direction: column;
    }    

    .team__quotes_left {
        width: 100%;
    }

    .team__quotes_right {
        width: 100%;
        display: flex;
        gap: 2rem;
    }
}

@media (max-width: 800px) {
    .team__grid {
        grid-template-columns: repeat(3, 1fr);
        padding: 3rem 4rem;
    }

    .grid__span1,
    .grid__span5,
    .grid__span6 {
        grid-column: span 1;
    }

    .grid__span1 {
        grid-row: span 1;
        margin-left: 0;
    }

    .team {
        min-height: 90vh;
    }
}

@media (max-width: 780px) {
    .grid__position {
        font-size: 1rem;
    }

    .grid__name {
        font-size: 1.2rem;
    }
}

@media (max-width: 600px) {
    .team__grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .team {
        min-height: 100vh;
    }
}

@media (max-width: 500px) {
    .team__grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid__position {
        font-size: 1.4rem;
    }

    .grid__name {
        font-size: 1.6rem;
    }

    .team {
        min-height: 100vh;
    }
}

@media (max-width: 400px) {
    .team {
        min-height: 100vh;
    }
}