.contacts {
    margin-top: 10rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.contacts__header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5rem;
}

.contacts__title {
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.contacts__title2 {
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 400;
}

.contacts__links {
    display: flex;
    gap: 6rem;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 3rem;
}

.contacts__link:hover {
    color: rgb(var(--accent));
    font-weight: 800;
}

.contacts__link_desc {
    color: rgb(var(--accent)); 
    font-weight: 400;   
}

.contacts__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.contacts__imagewrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    object-fit: cover;
}

.contacts__image {
    width: 100%;
}

.contacts__description {
    text-align: center;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 400;    
    transform: translateY(-8rem);
}

@media (max-width: 780px) { 
    .contacts__links {
        flex-direction: column;
        font-size: 1.4rem;
        gap: 1rem;
    }

    .contacts__svg {
        height: 40px !important;
        width: auto !important;
    }

    .contacts__title {
        font-size: 3.6rem;
    }
    
    .contacts__title2 {
        font-size: 2rem;
    }
}

@media (max-width: 500px) { 
    .contacts__svg {
        height: 30px !important;
        width: auto !important;
    }

    .contacts__links {
        font-size: 1.6rem;
    }

    .contacts__description {
        font-size: 2rem;
    }
}