.ideablock {
    width: 100dvw;
    height: 90dvh;
    position: relative;
    overflow: hidden;
    will-change: transform; /* Оптимизация рендеринга */
}

.ideablock__video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    will-change: transform; /* Оптимизация рендеринга */
}

.ideablock__title {
    position: absolute;
    color: rgb(var(--gray));
    font-weight: 800;
    font-size: 13rem;
    text-transform: uppercase;
    line-height: 1;
    top: 3rem;
    left: -3rem;
    z-index: 1;
    margin: 0; /* Сброс margin */
}

.ideablock__title_mobile {
    display: none;
}

.ideablock__text_mobile {
    color: rgb(var(--gray));
    font-weight: 800;
    font-size: 13rem;
    text-transform: uppercase;
    line-height: 1;
    display: block; /* Улучшена доступность */
    height: 100%;
}

.ideablock__text_mobile_first {
    position: absolute;
    top: -4rem;
    left: -4rem;
}

.ideablock__text_mobile_second {
    position: absolute;
    top: -4rem;
    right: -4rem;
}

.ideablock__text_mobile_third {
    position: absolute;
    top: 25rem;
    width: 100%;
    height: 100%;
    text-align: center;
}

/* Медиа-запросы остались без изменений */
@media (max-width: 1280px) {
    .ideablock__title {
        font-size: 15rem;
    }    
}

@media (max-width: 1024px) {
    .ideablock {
        height: 60dvh;    
    }

    .ideablock__title {
        display: none;
    }

    .ideablock__title_mobile {
        display: block;
        position: relative;
        height: 100%;
    }

    .ideablock__text_mobile {
        font-size: 15rem;    
    }
}

@media (max-width: 780px) {
    .ideablock__text_mobile {
        font-size: 13rem;    
    }

    .ideablock__text_mobile_third {
        top: 34rem;
    }
}

@media (max-width: 500px) {
    .ideablock {
        height: 40dvh;    
    }

    .ideablock__text_mobile_third {
        top: 31rem;
    }
}