.project {
  margin: 8rem 4rem;
}

.project__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.project__name {
  font-weight: 400;
  font-size: 2.8rem;
  text-transform: uppercase;
  color: rgb(var(--primary));
  line-height: 1;
  transition: 0.3s all;
}

.project__name_year {
  font-weight: 300;
  font-size: 1.2rem;
  vertical-align: middle;
  margin-left: 0.5rem;
}

.project__details {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.project__details_org {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.project__details_type {
  font-weight: 200;
  font-size: 1rem;
}

.project__video {
  position: relative;
  width: 100%;
  padding-top: 42.85%;
  margin-bottom: 3rem;
}

.project__video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.project__content {
  display: flex;
}

.project__content_left {
  width: 60%;
  margin-right: 6rem;
}

.project__content_right {
  width: 40%;
}

.project__content_title {
  text-transform: uppercase;
  color: rgb(var(--accent));
  margin-bottom: 1rem;
  font-size: 2rem;
}

.project__photos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 0.5rem;
}

.project__photos_img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.project__content_video {
  grid-column: 1 / -1;
  grid-row: 3;
  position: relative;
  padding-top: 56.25%;
}

.project__content_video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.project__content_team_line {
  font-size: 1rem;
  line-height: 1.5;
  color: rgb(var(--primary));
  margin: 0.2rem 0;
}

@media (max-width: 1024px) {
  .project__video {
    padding-top: 56.25%;
  }
}

@media (max-width: 600px) {
  .project__header {
    flex-direction: column;
  }

  .project__name {
    margin-bottom: 1rem;
    font-size: 3rem;
  }

  .project__name_year {
    font-size: 1.4rem;
  }

  .project__details_org,
  .project__details_type {
    font-size: 1.4rem;
  }

  .project__content {
    flex-direction: column-reverse;
  }

  .project__video {
    padding-top: 56.25%;
  }

  .project__content_title {
    font-size: 1.8rem;
  }

  .project__photos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: auto;
    overflow: visible;
    margin-bottom: 1rem;
  }

  .project__photos_img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .project__content_right {
    margin-bottom: 3rem;
    width: 100%;
  }

  .project__content_left {
    width: 100%;
  }

  .project__content_team_line {
    font-size: 1.2rem;
  }
}

@media (max-width: 500px) {
  .project__name {
    font-size: 4rem;
  }

  .project__name_year {
    font-size: 2rem;
  }

  .project__details_org {
    font-size: 2rem;
  }

  .project__details_type {
    font-size: 1.8rem;
  }

  .project__content_team_line {
    font-size: 2rem;
  }
}