.team {
    width: 100vw;
    height: 80vh;

    display: flex;
}

.team__member {
    position: relative;
    width: 20%;
}

.team__image {
    z-index: 1;
}

.team__name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100%);
    text-align: center;
    font-weight: 600;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    z-index: 2;
    color: rgb(var(--primary));
}

.team__name_last {
    transform: translate(-50%, -50%);
}

.team__position {
    width: 100%;
    font-size: 1.4rem;
    text-transform: uppercase;
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translate(-50%, -3%);
    text-align: center;
    text-align: center;
    z-index: 2;
    color: rgb(var(--primary));
}

.team__position_last {
    text-decoration: underline;
    cursor: pointer;
    transition: .3s all;
}

.team__position_last:hover {
    color: rgb(var(--accent));
    font-weight: 800;
    
}