.team {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 колонки на десктопе */
    width: 100%;
}

.team__member {
    position: relative;
    height: 40rem; /* Фиксированная высота для карточек */
    overflow: hidden;
}

.team__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.team__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    color: white;
    padding: 1rem;
    text-align: center;
    z-index: 1;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
}

.team__name {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.team__position {
    font-size: 1rem;
    line-height: 1.5;
    white-space: pre-line;
    text-transform: uppercase;
}

.team__socials {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.team__link {
    color: white;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.team__link:hover {
    color: rgb(var(--primary)); /* Основной цвет сайта */
}

/* Адаптивность */
@media (max-width: 900px) {
    .team {
        grid-template-columns: 1fr 1fr; /* 2 колонки на планшетах */
    }
}

@media (max-width: 600px) {
    .team {
        grid-template-columns: 1fr; /* 1 колонка на мобильных */
    }

    .team__member {
        height: 300px; /* Уменьшенная высота карточек */
    }
}
