.videoblock {
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
}

@media (max-width: 900px) {
    .videoblock {
        opacity: 1;    
    }   
    
    .videoblock__imageWrapper {
        aspect-ratio: 18 / 9;
    }
}

.videoblock_hovered {
    opacity: 1;
}

.videoblock__imageWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* aspect-ratio: 18 / 9; */
}



.videoblock__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 1s ease-in-out;
    z-index: 1;
}

.videoblock__image.fadeOut {
    opacity: 0; /* Исчезает */
}

.videoblock__image.fadeIn {
    opacity: 1; /* Появляется */
}

.videoblock__buttons {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: var(--bottom-padding);
    left: var(--left-padding);
    z-index: 3;
}

.videoblock__button {
    font-weight: 400;
    font-size: 4rem;
    text-transform: uppercase;
    color: rgb(var(--primary));
    line-height: 1;
    transition: 0.3s all;
    margin-bottom: 1rem;
}

.videoblock__button:hover {
    font-weight: 800;
    color: rgb(var(--accent));
}

.videoblock__type {
    font-weight: 200;
    font-size: 1.2rem;
    position: absolute;
    top: 3rem;
    left: 3rem;
    z-index: 4;
}

.videoblock__year {
    font-weight: 300;
    font-size: 1.8rem;
    vertical-align: middle;
}

.videoblock__org {
    font-size: 1.4rem;
    text-transform: uppercase;   
}