.videoblock {
    position: relative;
    width: 100%;
    aspect-ratio: 17/9;
    overflow: hidden;
    transition: all 0.3s ease;
}

.videoblock_hovered {
    opacity: 1;
}

.videoblock__imageWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    aspect-ratio: 17/9;
    overflow: hidden;
}

.videoblock__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.videoblock__image.fadeOut {
    opacity: 0; /* Исчезает */
}

.videoblock__image.fadeIn {
    opacity: 1; /* Появляется */
}

.videoblock__buttons {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: var(--bottom-padding);
    left: var(--left-padding);
    z-index: 3;
}

.videoblock__button {
    font-weight: 400;
    font-size: 4rem;
    text-transform: uppercase;
    color: rgb(var(--primary));
    line-height: 1;
    transition: 0.3s all;
    margin-bottom: 1rem;
}

.videoblock__button:hover {
    font-weight: 800;
    color: rgb(var(--accent));
}

.videoblock__type {
    font-weight: 200;
    font-size: 1.2rem;
    position: absolute;
    top: 3rem;
    left: 3rem;
    z-index: 4;
}

.videoblock__year {
    font-weight: 300;
    font-size: 1.8rem;
    vertical-align: middle;
}

.videoblock__org {
    font-size: 1.4rem;
    text-transform: uppercase;   
}

@media (max-width: 1280px) {
    .videoblock__button {
        font-size: 3.2rem;
    }
}

@media (max-width: 900px) {
    .videoblock {
        aspect-ratio: 19/9;
        height: auto;
    }
    
    .videoblock__imageWrapper {
        aspect-ratio: 19/9;
        height: auto;
    }
}