/* VideosBlock.module.css */
.videos {
    min-height: 0;
    height: auto;
    /* padding: 2rem 0; */
}

.videos__blocks {
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    transition: all 0.2s ease-in-out;
    min-height: 30rem;
}

.videos__blocks_hidden {
    opacity: 0;
}

.categories {
    display: flex;
    margin-bottom: 1rem;
    margin: 3rem;
    justify-content: space-between;
    height: 2rem;
}

.categories__filters {
    display: flex;
    gap: 1rem;
}

.categories__button {
    padding: 0.5rem 1rem;
    background-color: transparent;
    color: rgb(var(--primary));
    cursor: pointer;
    border: 0;
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    transition: 0.3s all;
}

.categories__button:hover {
    color: rgb(var(--accent));
}

.categories__button_active {
    color: rgb(var(--accent));
}

.categories__watchall:hover {
    color: rgb(var(--accent));
}

.categories__watchall_mobile {
    display: none;
}

.categories__loadmore {
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
    padding: 1.5rem;
}

@media (max-width: 900px) {
    .videos {
        min-height: auto;
        height: auto;
    }

    .videos__blocks {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        /* height: 100%; */
        /* height: auto;
        max-height: auto; */
        /* min-height: 150rem; */
    }
}

@media (max-width: 780px) {
    .videos {
        margin-bottom: 2rem;
    }

    .categories__button {
        font-size: 1.4rem;
    }

    .categories__watchall {
        display: flex;
    }

    .categories__watchall {
        display: none;
    }

    .categories__watchall_mobile {
        display: block;
        width: 100%;
        padding: 2rem;
    }
}

@media (max-width: 600px) {
    .categories {
        flex-direction: column;
        justify-content: left;
        gap: 0.8rem;
        height: 6rem;
    }

    .categories__filters {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        margin-bottom: 2rem;
    }

    .categories__button {
        font-size: 1.4rem;
        text-align: center;
    }

    /* Четвёртая кнопка переносится на новую строку */
    .categories__filters > :nth-child(n+4) {
        /* flex-basis: 100%; */
        text-align: left;
    }
}